.todoinput {
    text-align: center;
    font-weight: 600;
  }
  
  .addnewtask {
    align-items: center;
    width: 99%;
    background-color: rgb(13, 148, 181);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    padding: 10px 20px 10px 20px;
  }
  
  .container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 40px 10px 40px;
    padding: 10px;
  }
  
  .container1 {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .newtodo {
    width: 100%;
    padding: 7px;
  }
  
  .book {
    background-color: rgb(13, 148, 181);
    width: 32px;
    height: 32px;
    color: white;
  }
  
  .buttons {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .childbuttons {
    display: flex;
    gap: 1rem;    
    margin: 25px;
  }
  
  .all,
  .done,
  .undone {
    flex-grow: 1;
    background-color: rgb(13, 148, 181);
    color: white;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
    border: none;
    margin: 15px;
  }
  